#Q.1 In the below elements which of them are values an expression?
eg:-values can be integer or string and expression will be mathematical operators.
* ,'hello' ,-87.8 , - , / , + , 6

Answer-
values are = -87.8 , 6 , 'hello'      
expression are = * , - , / , +

#Q.2 What is the difference between string and variable?

Answer- 
Variable - Variable is the name of memory location where we can stored different types of values.
String - String in python, are sequences of characters or simply test.
a string can either be created using single quotes or double quotes.

#Q.3 Describe three defferent data types.

Answer - 
1.NUMBERS(integer) - In python, there are two basic types of numbers and they are called integer and floating point numbers.

An integer does not have decimals.

In [3]:
# X is an integer
X = 21
print(X)

21

A floating poin number has decimals.

In [4]:
# X is a floating point number 
X = 21.33
print (X)

21.33

To add numbers, use the plus sign(+).

In [5]:
x = 7 
y = 3
print(x+y)

10

2.String - String are simply text.
A string must be surrounded by single quotes or double quotas.

In [6]:
# using single quotes 
fruit = 'mangos'
print(fruit)

mangos

In [7]:
# using double quotes
fruit = "mangos"
print(fruit)

mangos

single or double quotes
Use single quotes when your string contains double quotes.

In [9]:
x = 'I told you "python is easy to learn"'
print(x)

I told you "python is easy to learn"

Use double quotes when your string contains single quotes.

In [10]:
x = "Let's learn Python!"
print (x)

Let's learn Python!

3.Booleans - The Boolean data type can only have one of these two values:True or false

In [11]:
bool = True
print(bool)
bool = False
print(bool)

True
False

When comparing two values, python returns a Bollean.

In [1]:
print(10 > 5) #True
print(6 > 3) #True
print(4 < 2) #False
print(5==5)  #True
print(5==6)  #False

True
True
False
True
False

#Q.4 What is an expression made up of? What do all expression do?

Answer - A valid combination of operators, varitable, literal, identifier etc in python is called an expression.
In any programing language, an expression is evaluated as per the precedence of its operators.
the expression in python produces some value or result after being interpretend by the python interpreter.
An expression in python is a combination of operators and operands. An example of expression can be : x = x + 10 x =  x + 10 x = x + 10.

#Q.5 This assignment statements,like spam = 10. What is the difference between an expression and a statement?

Answer - An expression evaluates to a single value. A statement does not. An expression is something that can be reduced to a value.
A statement in python is used for creating variables or for displaying values.
The expression in python produces some value or result after being inteepreted by the python interpreter.

#Q.6 After running the following code, what does the variable bacon contain?
bacon = 22 , 
bacon = 1

Answer - 
The bacon variable is set to 22. 
The bacon 1 expression does not reassign the value in bacon (that would need an assignment: bacon = bacon 1)

#Q.7 What should the values of the following two terms be?
'spam' = 'spamspam'
'spam'= 3

Answer - Both expression evaluate to the string 'spamspamspam'

#Q.8 why is eggs a valid variable name while 100 is invalid?

Answer - Variable name canot begin with a number.

#Q.9 What three functions can be used to get the integer,floating-point number,or string version of a value?

Answer - 
The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

#Q.10 Why does this expression cause an error? How can you fix it?
'I have eaten'+99+'burritos.'

Answer - 
the expression cause an error because 99 is an integer, and only string can be concatenated to other strings with the +operator. 
The correct way is I have eaten'+str(99)+'burritos.'